<h1>Ajouter un Bookmark à <%= @list.name %></h1>

<%= form_with model: [@list, @bookmark], local: true do |form| %>
  <div>
    <%= form.label :movie_id, "Film" %>
    <%= form.collection_select :movie_id, Movie.all, :id, :title %>
  </div>

  <div>
    <%= form.label :comment, "Commentaire" %>
    <%= form.text_area :comment %>
  </div>

  <div>
    <%= form.submit "Ajouter le Bookmark" %>
  </div>
<% end %>

<%= link_to "Retour à la liste", list_path(@list) %>
